:root {
  --body-bg: rgb(236, 230, 230);
  --nav-bg: rgb(236, 78, 78);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui;
}
ul {
  list-style-type: none;
}

.layout {
  /* height: 100svh; */
  margin: 0;
  font-size: 1.25rem;
  background: var(--body-bg);
  color: black;
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 2rem;
}

.styled-navbar {
  height: 100svh;
  background-color: var(--nav-bg);
}
