body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about {
  color: black;
  background-color: blue;
  width: 100vw;
  height: 100%;
}

ul {
  height: 100svh;
  width: 100vw;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
